.head, .headMobile
{
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: auto; 
  height: 50px;  
}
.headMobile
{
  width: auto;
  justify-content: space-between;
 
  flex-direction: row;
}
.logo
{ 
  width: 250px;   
}

.logoMobile { 
  display: inline-flex;
}

.logo a , .logoMobile a
{ 
  display: block;
  color: #657f8a;
  padding: 5px 10px;
  font-weight: 700;
  text-decoration: none;
  font-size: 22px;
  height: 40px;
}
.headLink {

}

.logo a:hover
{ 
  color:#222121;  
}

.headLK, .headLKMobile { 
 
}
.headLKMobile { 
  background: #614161;
  display: inline-flex;
}

.header__burger{
  width: 70px;  
  height: 50px;
  border:0px;
  display: block;
  background: #fff;
}
.headMenu {
  width: 50px;
  height: 50px;
  background: #49d426;
  display: inline-flex;
}
#headerMain_top { 
  position: fixed;
  z-index: 99;
  background-image: url(/image/cloud_960_720.png);
  background-repeat: repeat-x;
  background-position-x: -17px;
  background-position-y: -127px;
}

 
.js-burger-to-sidebar{

  display: none;
}
.header__burger-icon {

  display: none;
}
/* Hamburger_icon*/
 




@media (max-width: 480px) {
    /* nobile */
  .head
  {
    display: none;
  }
  .headMobile {
   display: flex;
  }
   
}
@media (max-width: 900px) {
  /* ipad */
 .head
 {
   display: none;
 }
   
 .headMobile {
  display: flex;
 }
  
}

@media (min-width:  900px) {
  
 .headMobile {
  display: none;
 }
  
} 


