.newsItem 
{
  display: block; 
  padding: 0px 0px ;
  margin: 20px 0px 0px 0px; 
  border-top: 1px solid #eeeeee;
} 
  
 
.date, .event, .title {
 font-size: 18px;
 padding: 10px 10px 10px 0px;
}
 
.title a {
  font-size: 18px;
}

.title h1{
  font-size: 21px;
    padding: 0px 0px 0px 0px;
    font-weight: 700;
    
}


.date {
  font-weight: 600;
  cursor: pointer;
}

.date, .title, .title a  {
  color:#6a6867;
  font-weight: 600;
}

.text {
  font-size: 20px;
  padding: 10px 0px;
}

.shorttext p {
  border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding: 10px 5px 10px 5px;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    line-height: 1.2;
}
.controll {
  font-size: 20px;
  padding: 0px 10px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}
.controll button {
  color: "#6a6867";
  border-color: "#6a6867";
} 

.divid {
  padding: 4px 5px;
  margin: 18px 5px 0px 25px;
  border-radius: 10px;
  height: 2px;
  width: 2px;
}

.eventSplit {
  border-bottom: 1px solid#edeede;
  background: #84c789;
}
.eventNews {
  border-bottom: 1px solid#045474;
  background: #fa78f3;
}
.eventDividend {
  border-bottom: 1px solid #045474;
  background: #045474;
}

.newsInspects
{
  display: block; 
  padding: 0px 10px ;
  margin: 20px 0px 0px 0px; 
  border-top: 1px solid #eeeeee;
}


.inspectsTextshort
{
  display: block; 
  padding: 0px 0px;
  margin: 0px 0px 0px 0px; 
  border-top: 0px solid #eeeeee;
}


.inspectsItemHead
{
  display: flex;
  padding: 2px 0px;
  margin: 0px;
  font-size: 18px;
  border-bottom: 0px #eeeeee;
  border-bottom-style: dashed;
}



.inspectsTitle {
  font-size: 18px;
  padding: 10px 10px 10px 0px;
 }
  
 .inspectsTitle a {
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #6a68675e;
  color: #6a6867;
}
.inspectsTitle a:hover { 
  border-bottom: 1px solid #6a6867; 
}
 
 .inspectsTitle {
   font-size: 20px;
   padding: 0px;
   font-weight: 600;
 }
 
.eventCircle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 4px 10px 0px 0px;
  border: 1px solid; 
  display: block;
 }
 .dateLineEvent{
  display: block;
  padding: 0px 0px 0px 0px;
  font-size: 17px;
  font-weight: 600;
 }
 .currentInfo{
  display: flex;
 }
 .defaultTypeClassEvent {
  display: block;
  padding: 0px 0px 0px 10px;
  font-size: 17px;
  font-weight: 600;

 }

 .slugContent {
  padding: 30px 0px 0px 0px;
 }