.graphicTab {
  width: 100%;
  display: block;
  background: #ffffff;
  padding: 0px;
  border-bottom: #b7b7b7 1px solid;
}
.graphicTabBox {
  width: 100%;
  display: block; 
  padding: 0px;
  border-bottom: #b7b7b7 1px solid;
}

.pageText {
  padding: 10px;
  font-size: 17px;
}

.graphicHead {
  padding: 0px  0px  10px  0px  ;
  justify-content: space-between;
  display: flex;
  font-size: 20px;
}
 .title {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 20px;
  margin: 0px; 
  font-weight: bold;
 }