 .headerClass {  
    width: 100%;
    background: #ffffff;
    border-bottom: #eeeeee 1px solid; 
    margin: 0px auto 10px  auto;
  }

  .mainContent { 
    max-width: 955px;
    min-height: calc(100vh - 100px);
    position: relative;
    flex-grow: 1;
    margin: 20px 0px 0px 0px; 
    display: table-row;
  }

  .footer { 
    flex-grow: 1;
    margin: 20px 0px 0px 0px;  
    left: 0;
    bottom: 0; 
  } 

  .footerContent {  
    width: 1200px;
    margin: auto;
    flex-direction: row;
    min-height: 100px; 
    border-top: 1px solid #eeeeee;
    padding: 20px 10px;
  }
  .footerContentNotice {
    width: 100%;
    max-width: 1200px;
    margin: auto auto 20px auto;
    flex-direction: row;
    min-height: 100px; 
    border: 1px solid #f3f3f3;
    padding: 20px 10px;
    font-size: 13px;
  }

  .boxContent {
    border: 1px solid #eeeeee;
    padding: 0px 0px 10px 0px;
    font-size: 16px;
    border-radius: 2px;
    
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 0em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
  }
  .boxContentHide {
    border: 1px solid #ffffff; 
  }

  .titleClass h2 {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 14px 0px;
    font-weight: bold;
    
  }

  .blockHr {
    border-top: 1px #eeeeee solid;
    margin: 30px 0px;
    width: 80%;
  }
 
.authGoogle { 
  background: #eeeeee;
  padding: 3px;
  display: inline-flex;
  box-shadow: none;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}
.authGoogle svg { 
  background: #eeeeee; 
  box-shadow: none; 
  margin: 5px;
}
.authGoogle span{ 
  box-shadow: none;
  padding: 3px 2px;
  display: inherit;
  font-weight: 400;
  font-size: 14px;
}
.authGoogle:hover { 
  border: 1px solid #919191;
} 

.user-head-profile {
  
}
.user-head-profile img {
  width: 25px;
}

.moex-button { 
  display: contents;
  background: #eeeeee;
  padding: 5px; 
  box-shadow: none;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  background: #eceb93;
}
.moex-button:hover {
  border: 1px solid #d6d6d6;
}

.moex-button-profile {
  width: auto;
  background: #eeeeee;
  padding: 5px; 
  box-shadow: none;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  font-size: 15px;
}
.moex-button:hover { 
  border: 1px solid #919191;
}

.profileBox {
  display: inline-flex;
}

.moex-button-profile{
  background: #eeeeee;
  padding: 5px;
  display: inline-block;
  box-shadow: none;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  font-weight: 400;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
}
.moex-button-profile:hover {
  border: 1px solid #919191;
}

.contentClass  {
  align-items: center;
  width: 1200px;
  margin: auto;
};

.menuClass {
  width: 245px;
  padding: 0px 5px 0px 0px;
}


.mainClass {
  width: 1200px;
  display: flex;
  flex-direction: row;
}


@media (max-width: 480px) {
    /* nobile */

  
 
  
}
@media (max-width: 900px) {
  /* ipad */
  .menuClass
  {
  display: none;
  }

  .mainClass,
  .contentClass,
  .footerContent {
    width: auto;
  }
  
  .headMobile {
  display: flex;
  }

  }

  @media (max-width:  900px) {
    .headMobile {
    display: none;
    }

    .headerClassMobile {
      position: initial;
      width: 100%; 
      height: 50px;
    }
    .headerClass {  
        position: fixed;
        z-index: 200;
    } 
} 


.headerClassMenuMobile {
  background: #ebebeb;
  height: 100%;
  position: fixed;
  z-index: 99;
  border-right: 1px solid #eeeeee;
  width: 50%;
}
.notificationContainer {
  position: fixed;
  z-index: 100;
  right: 0;
}
