.homeTable {
  width: 100%;
  display: inline-flex;
}
.trendTable {
  width: 100%; 
  border: 1px solid #dddddd;
}
.trendTableTr { 
  width: 100%;
  display: block;
  border-bottom: 1px solid #eff2f5;
  min-height: 50px;
}
.trendTableTrTd {
  display: inline-table;
  padding: 5px 10px;  
}

.trendInstrumentName,
.trendInstrumentPrice,
.trendInstrumentPercent,
.trendlogo,
.trendInstrumentIndex {
  height: 26px; 
  font-weight: 600;
}

.trendlogo { 
  width: 26px;
  text-align: center;
}
.trendlogo img {
  width: 24px;
  text-align: center;
}
.trendInstrumentName {
  min-width: 210px;
  color: rgb(88, 102, 126);
  overflow: hidden;
  max-width: 210px;
  height: 25px; 
  display: inline-table;
  padding: 0px 0px 0px 0px;
  
  border-right: dashed 1px #dddddd;
}
 
.trendInstrumentPrice,
.trendInstrumentPercent {
  display: inline-table; 
  padding: 0px 0px 0px 0px;
  width: 107px;   
}

.trendInstrumentPrice{
  border-right: dashed 1px #dddddd;
  padding: 0px 0px 5px 0px;
}



.trendInstrumentIndex {
 
  min-width: 30px;
}
 

.triangleDown {
  width: 0;
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ED5860;
}

.triangleUp {
  width: 0;
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #37CF95;
}
 
 
.trendTableHead,.trendTableHeadPercent  {
  font-weight: 600;
  color: #000000; 
  cursor: pointer; 
}
 
 

.trendInstrumentPercent { 
  display: inline;
}


.instrumentPercent {
  display: inline-block;
}

.trendInstrumentData, .trendInstrumentPercentNull {
 
  min-width: 120px;
  display: block;
}

.trendInstrumentPercentNull {
  padding: 0px 0px 0px 19px;
}

.instrumentPercentData { 
  min-width: 70px;
  font-weight: 700;
}



.trendInstrumentPercentPrice{
  color: #000000;
    font-size: 8px;
    min-width: 10px; 
    padding: 0px 0px 0px 23px;
    position: absolute;
}
.trianglePercent{
  min-width: 15px;
}

.trendTableHeadPercent {
  min-width: 120px;
  display: block;
  padding: 0px 0px 0px 20px;
}




.trendTableHead span, .trendTableHeadPercent span {
  font-weight: 600;
  color: #000000; 
  cursor: pointer; 
  border-bottom: 1px solid #000000;
}